
$text: #f6f7f8;
$maincolor: #2a3d45;
$accentcolor: #3a7ca5;
$mutedAccent: #c6d8e3;


$input-btn-focus-width:         0;
$input-btn-focus-color-opacity: 0;
$input-btn-focus-color:         0;
$input-btn-focus-blur:          0;
$input-btn-focus-box-shadow:    0;
