@import "root";

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0;
	padding:0;
}

html 
{
	height: 100%;
	box-sizing: border-box;
}
  
*, *:before, *:after 
{
	box-sizing: inherit;
}

body 
{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background-color: $text;
}


/* Titles */
h1 
{
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

/* login and register form styling */
.log-reg 
{
	width: 400px;
	margin: 100px auto;
}
.log-reg form 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.log-reg form label 
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: $text;
	color: $maincolor;
	border: 1px solid $maincolor;
	border-right: 0px;
}
.log-reg form input[type="password"], .log-reg form input[type="text"], .log-reg form input[type="email"] 
{
	width: 350px;
	height: 50px;
	background-color: $text;
	border: 1px solid $maincolor;
	border-left: 0px;
	margin-bottom: 20px;
	padding: 0 15px;
	outline: 0;
}
.log-reg form input[type="submit"] 
{
	width: 100%;
	padding: 15px;
   margin-top: 20px;
	background-color: $accentcolor;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: $text;
	transition: background-color 0.2s;
}
.log-reg form a
{
	padding-left: 350px;
}

.navbar 
{
	background-color: $maincolor !important;
	color: $text;
}

.navbar i
{
	color: $text;
}

.navbar-dark .navbar-nav .nav-link
{
	color: $text;
	opacity: 50%;
}

.navbar-dark .navbar-nav .nav-link:hover
{
	color:$accentcolor;
	opacity: 100%;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link
{
	color: $text;
	opacity: 100%;
	border-bottom: 2px solid $text;
}

.content 
{
	width: 100%;
	margin: 0 auto;	
}
.content h2 
{
	margin: 0;
	padding: 75px 0 25px 0;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: $maincolor;
}

.content h3 
{
	margin: 0;
	padding: 0 0 25px 0;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: $maincolor;
}

.pageDoll
{
	align-items: right;
	justify-content: flex-end;
	position: absolute;
	bottom: 100px;
	position: absolute;
	right: 0;
	bottom: 40px;
}

/*dashboard*/
.calendar {
    height: max-content;
    width: max-content;
    background-color: $accentcolor;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
	padding-left: 5px;
    font-weight: 600;
    color: $text;
}

.month-picker, #year
{
	font-size: 30px;
}

.calendar-week-day {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: $mutedAccent;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: $text;
}

.calendar-days div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: $text;
    color: $maincolor;
    border: 2px solid $maincolor;
}

.calendar-days div.curr-date span {
    display: none;
}

#slider
{
	width: 60%;
}

/*manage*/
.manage_select
{
	width: 30%;
	margin: 0 auto;
}

.manage_select select
{
	width: 100%;
	border: 2px solid $maincolor;
	padding: 10px;
	color: $maincolor;
	background-color: $text;
}

.manage_select select:active, .manage_select select:focus, .manage_select select:hover
{
	width: 100%;
	border: 2px solid $maincolor;
	padding: 10px;
	color: $maincolor;
	background-color: $text;
	border-radius: 0;
	outline:none;
}

.manage_select div
{
	margin: 40px 0 0;
}

.manage_select #manageGo
{
	width:100%;
	background-color: $accentcolor;
	color: $text;
	border: 0 solid;
	padding: 10px;
	text-align: center;
}
	/*Upload*/
	.column_form
	{
		width: 50%;
		margin: 0 auto;
	}

	.column_form input, .column_form textarea
	{
		background-color: $text;
		border: 2px solid $maincolor;
		border-radius: 0;
		outline: 0;
	}
	.column_form .form-colums
	{
		width: 100%;
		margin-bottom: 20px;
		padding: 5px 15px;
		color: $maincolor;
		background-color: $text;	
	}

	.column_form .submit-btn
	{
		width:100%;
		background-color: $accentcolor;
		color: $text;
		border: 0 solid;
		padding: 10px;
	}

	.StatusReport
	{
		width: 50%;
		margin: 0 auto;
	}

	/*delete*/
	.manage_delete
	{
		width: 50%;
		margin: 0 auto;
	}

/*help*/
.form-help
{
	width: 50%;
	margin:0 auto;
}

.form-help input, .form-help textarea
{
	background-color: $text;
	border: 2px solid $maincolor;
	border-radius: 0;
	outline: 0;
}

.form-help .submit-btn
{
	width:100%;
	background-color: $accentcolor;
	color: $text;
	border: 0 solid;
	padding: 10px;
}

.form-control:focus
{
    color: $maincolor;
    background-color: $text;
    border-color: $maincolor;
    outline: 0;
    box-shadow: 0;
}

/*footer*/
.footer
{
	background-color: $maincolor;
	color: $text;
	padding: 20px 100px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.f-content
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}