* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #f6f7f8;
}

/* Titles */
h1 {
  text-align: center;
  font-size: 50px;
}

/* login and register form styling */
.log-reg {
  width: 400px;
  margin: 100px auto;
}

.log-reg form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.log-reg form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f6f7f8;
  color: #2a3d45;
  border: 1px solid #2a3d45;
  border-right: 0px;
}

.log-reg form input[type="password"], .log-reg form input[type="text"], .log-reg form input[type="email"] {
  width: 350px;
  height: 50px;
  background-color: #f6f7f8;
  border: 1px solid #2a3d45;
  border-left: 0px;
  margin-bottom: 20px;
  padding: 0 15px;
  outline: 0;
}

.log-reg form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3a7ca5;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #f6f7f8;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.log-reg form a {
  padding-left: 350px;
}

.navbar {
  background-color: #2a3d45 !important;
  color: #f6f7f8;
}

.navbar i {
  color: #f6f7f8;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f6f7f8;
  opacity: 50%;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #3a7ca5;
  opacity: 100%;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #f6f7f8;
  opacity: 100%;
  border-bottom: 2px solid #f6f7f8;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 75px 0 25px 0;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #2a3d45;
}

.content h3 {
  margin: 0;
  padding: 0 0 25px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #2a3d45;
}

.pageDoll {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 100px;
  position: absolute;
  right: 0;
  bottom: 35px;
}

/*manage*/
.manage_select {
  width: 50%;
  margin: 0 auto;
}

.manage_select select {
  width: 100%;
  border: 2px solid #2a3d45;
  padding: 10px;
  color: #2a3d45;
  background-color: #f6f7f8;
}

.manage_select select:active, .manage_select select:focus, .manage_select select:hover {
  width: 100%;
  border: 2px solid #2a3d45;
  padding: 10px;
  color: #2a3d45;
  background-color: #f6f7f8;
  border-radius: 0;
  outline: none;
}

.manage_select div {
  margin: 40px 0 0;
}

.manage_select #manageGo {
  width: 100%;
  background-color: #3a7ca5;
  color: #f6f7f8;
  border: 0 solid;
  padding: 10px;
  text-align: center;
}

/*Upload*/
.column_form {
  width: 75%;
  margin: 0 auto;
}

.column_form input, .column_form textarea {
  background-color: #f6f7f8;
  border: 2px solid #2a3d45;
  border-radius: 0;
  outline: 0;
}

.column_form .form-colums {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 15px;
  color: #2a3d45;
  background-color: #f6f7f8;
}

.column_form .submit-btn {
  width: 100%;
  background-color: #3a7ca5;
  color: #f6f7f8;
  border: 0 solid;
  padding: 10px;
}

.StatusReport {
  width: 50%;
  margin: 0 auto;
}

/*help*/
.form-help {
  width: 75%;
  margin: 0 auto;
}

.form-help input, .form-help textarea {
  background-color: #f6f7f8;
  border: 2px solid #2a3d45;
  border-radius: 0;
  outline: 0;
}

.form-help .submit-btn {
  width: 100%;
  background-color: #3a7ca5;
  color: #f6f7f8;
  border: 0 solid;
  padding: 10px;
}

.form-control:focus {
  color: #2a3d45;
  background-color: #f6f7f8;
  border-color: #2a3d45;
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

/*footer*/
.footer {
  background-color: #2a3d45;
  color: #f6f7f8;
  padding: 20px 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.f-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */